
<header class="pageheader pageadmin">
    <div class="left">
        <a class="logo" asp-action="Index" asp-controller="Home"><img src="~/images/icon.png" alt=""> <h1>Planet Vinyl</h1></a>
    </div>
</header>

<div class="innerbody pageinner pageadmin">

    <p>
        Vinyl Planet har funnits sedan 2007. <br />

        Vi strävar efter att erbjuda ett brett utbud samt en god anledning att besöka oss ofta då vi ständigt sätter ut nya skivor i butiken.

        Varmt Välkommen!
    </p>


    <div>

    </div>

</div>