
<header class="pageheader pageadmin">
    <div class="left">
        <a class="logo" asp-action="Index" asp-controller="Home"><img src="~/images/icon.png" alt=""> <h1>Planet Vinyl</h1></a>
    </div>
</header>

<div class="innerbody pageinner pageadmin">

    <p>

        Leveranser<br />
        Vi använder DHL Service Point och Postnord inom Sverige som levereras till ditt närmaste ombud och med full spårbarhet. Du får sms när varan kommit fram till ombudet så det är viktigt att du anger mobilnummer vid beställning. Leveranstiden för DHL är 1-2 arbetsdagar inom Sverige. Beställningar under 300 gram och som ej innehåller vinyl skickas med Postnord Varubrev och går normalt ner i brevlådan.
        <br /><br />
        Outlösta paket<br />
        Om du inte hämtar ut din beställning debiterar Vinyl Planet en avgift som motsvarar de kostnader vi haft för beställningen, f.n. 150 kr plus fraktavgiften. Ny order godkänns först efter att denna avgift är betald.
        <br /><br />
        Fraktavgifter<br />
        Fraktavgiften för din order visas i varukorgen innan du väljer betalningssätt. Order över 300 gram samt alla som innehåller skrymmande artiklar som exempelvis vinyl, skickas med DHL. Fraktavgiften beräknas utifrån vikten på din order. Alla restleveranser är fraktfria.
        <br /><br />
  
  
        Ångerrätt<br />
        Som kund har du alltid 14 dagars öppet köp. Du står själv för returfrakten. Returnerade varor ska vara i originalskick (och originalförpackning). Faktura/följesedel skall alltid bifogas vid ångerköp så att vi snabbt och smidigt kan handlägga ditt ärende.
        Vid retur av fakturaköp krediteras fakturan när vi mottagit returen. Vid retur av kontokortsköp returneras beloppet till det konto som är kopplat till kontokortet som användes vid köptillfället.
        Ångrar du köp behöver du inte kontakta oss innan du returnerar varan men ange på följesedeln att det är retur pga ångerrätt.
        <br /><br />
      

        Reklamation<br />
        Är din vara trasig eller defekt vid leverans? Vänligen kontakta oss via vårt formulär som du hittar här, innan du returnerar varan så löser vi problemet. Kontakta oss omgående, men senast 30 dagar efter att vi skickat din vara. Meddela oss ditt kund- samt fakturanummer vid kontakt med oss. Returnera väl förpackat i emballage utöver originalförpackning och skicka alltid med följesedeln och information om vad som är trasigt/defekt.
        <br /><br />
     
        Fel i publicering<br />
        Vi reserverar oss för prisjusteringar, prisfel, lagerförändringar och eventuella tekniska fel på webbplatsen, webbläsaren, nätverk och servrar. Vi förbehåller oss rätten att korrigera produkttexter, bilder och priser som skrivits eller tryckts felaktigt på webbplatsen eller i tryckt material. Vi reserverar oss för att vissa varor kan utgå eller säljas slut.
    </p>


    <div>

    </div>

</div>